.build {
  &__content {
    padding: 120px 0 306px;
    text-align: center;
    background:url(../img/low/bg.png) bottom/cover no-repeat;
    margin-bottom: -2px;
  }
  &__title{
    font-family: OpenSans,sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15000000596046448px;
    margin-bottom: 35px;
    color: rgba(72, 85, 91, 1);

  }



}
