@media (max-width: 990px) {
  .container{
    padding: 0 15px;
  }
  .main__story-block{
    padding: 15px 0 150px 10px;
    font-size: 20px;
  }
  .service{
    padding:80px 0 10px;

    &__inner{
      flex-wrap: wrap;
      justify-content: space-evenly;
      row-gap: 25px;
      column-gap: 15px;
    }
  }
}

@media (max-width: 888px) {
  .capabilities{
    &-row{
      align-items: flex-start;
    }
    &-title{
      margin-right: 10%;
    }
    &-text{
      margin-right: 13px;
    }
  }
  .footer{
    &__info{
      column-gap: 40px;
      &-contact-social{
        padding: 30px 0 0 36px;

      }
    }

  }
}
@media (max-width: 790px) {
  .first-screen__logo{
    margin-bottom: 258px;
  }
  .first-screen__text{
    margin-bottom: 198px;
  }

  .main {
    &__story {
      &-box {
        column-gap: 31px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
      }
    }
  }
  .signUp{
    flex-wrap: wrap;
  }
  .capabilities {
    &-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-title {
      margin: 0 0 10px 0;
    }

    &-title::before {
      display: none;
    }

    &-text {
      margin-bottom: 13px;
    }
  }
  .footer {
    &__info {
      column-gap: 40px;
      flex-wrap: wrap;

      &-contact-social {
        padding: 30px 0 0 15px;

      }
    }

  }
}

@media (max-width: 680px) {
  .main__story-textabove br{
    display: none;
  }
}

@media (max-width: 622px) {
  .main__story-blocks{
    width: 80%;
  }
  .header__navbar.active{
    transform: translateY(0);
    transition: 1s all;
  }
  .header__navbar{
    position: fixed;
    width: 200px;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 55;
    transform: translateY(-200%);
    transition: 1s all;
    border-left: 3px solid #E6E6E6;
    &-row{
      margin-top: 11px;
      flex-direction: column;
      row-gap: 20px;
      & img{
        width: 100px;
      }
    }
    &-list{
      flex-direction: column;
      row-gap: 12px;
    }
  }
  .navBurger{
    display: block;
    z-index: 99;
    transition: .3s all;
    .line{
      width: 100%;
      height: 3px;
      background-color: #f00;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &::after,
      &::before{
        content: '';
        width: 100%;
        height: 3px;
        background-color: #f00;
        position: absolute;
        transition: .5s all;
      }
      &::before{
        top: 10px;
      }
       &::after{
        top: -10px;
      }
    }
    &.active{
      .line{
        background-color: transparent;
        transition: .5s all;
        &::before{
          transform: rotate(-45deg);
          top: 0;
          transition: .5s all;

        }
        &::after{
          transform: rotate(45deg);
          top: 0;
          transition: .5s all;

        }

      }
    }
  }

  .first-screen__title{
    font-size: 50px;
  }
  .footer__info{
    position: relative;
    row-gap: 50px;
  }
  .footer__info-links{
    position: absolute;
    padding: 10px;
    right: 15px;
    transform: translate(200%, 30px);
    background: rgba(25, 24, 25, 1);
    transition: .7s all;
    & h4{
      display: none;
    }
  }

   .footer__info-links.active{
    display: inline-block;
     transform: translate(0, 30px);
  }


.linksBurger{
  display: block;
  height: 20px;
  z-index: 99;
  background-color: transparent;
  color: #E6E6E6;
  border: none;

}
  .linksBurger.active{
}




}
@media (max-width: 500px) {
.signUp{
  & button{
    width: 100px;
  }
  &__input{
    width: 200px;
  }
  &__label{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
}

@media (max-width: 360px) {
  .first-screen{
    display: none;
  }
  .main__story-blocks{
    width: 100%;
  }
  .linksBurger{
    position: absolute;
    top: 50px;
    right: 30px;
  }
  .footer__info-menu{
    column-gap: 10px;
  }
  }