.signUp {
  color: white;
  background-color: rgba(23, 24, 25, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  &__form{
    display: flex;
    align-items: center;
  }
  &__title{
    margin-right: 70px;
    font-family: OpenSans,sans-serif;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.8461539149284363px;
  }
  &__input{
    padding: 10px 98px 11px 16px;
    outline: none;
  }
}